<div id="work-item-wrapper">
    <div class="work-title">
        <span>Desert Eagle</span>
    </div>
    <div class="work-subtitle">
        <span>modelled in Maya</span>
    </div>
    <div class="work-date">
        <span>?</span>
    </div>
    <div class="work-description">
        <span>
            ?
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/Modelling/DesertEagle/1.jpg">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/Modelling/DesertEagle/1.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/DesertEagle/2.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/DesertEagle/3.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/DesertEagle/4.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/DesertEagle/5.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/DesertEagle/6.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<canvas id="model-renderer" class="work-right-content"></canvas>
