<div id="work-item-wrapper">
    <div class="work-title">
        <span>XENOMORPH MODEL</span>
    </div>
    <div class="work-subtitle">
        <span>created in maya, textured in substance painter, rendered using arnold for maya.</span>
    </div>
    <div class="work-date">
        <span>12/11/2017</span>
    </div>
    <div class="work-description">
        <span>
            Xenomorph from the Alien Franchise.<br />
            Modelled and Normal Mapped in zBrush, both high poly and low poly.<br />
            Textured and painted in Substance Painter.<br />
            Rendered using Arnold for Maya, and showcased in Unreal Engine 4.<br />
            <span class="midblue">High Poly: 10,705,856 polygons</span><br />
            <span class="midblue">Low Poly: 48,808 polygons</span><br />
            <br />
            <span class="darkblue">Final Grade: 78%</span>
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/Modelling/Xenomorph/Wide Angle Render.jpg">
            </div>
            <div class="gallery__thumbs flex-column-start" >
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/Modelling/Xenomorph/Wide Angle Render.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/Xenomorph/Side View Render.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/Xenomorph/Head Close Up.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/Xenomorph/Close Up Render.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/Xenomorph/Wide Angle Render - Textured.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/Xenomorph/Side View Render - Textured.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/Xenomorph/Close Up Render - Textured.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/Modelling/Xenomorph/Frontal View.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<canvas id="model-renderer" class="work-right-content"></canvas>