<div id="work-item-wrapper">
    <div class="work-title">
        <span>FUTURISTIC CITY</span>
    </div>
    <div class="work-subtitle">
        <span>designed and modelled in maya, textured in photoshop, created in Unreal Engine</span>
    </div>
    <div class="work-date">
        <span>10/11/2016</span>
    </div>
    <div class="work-description">
        <span>
            For this assignment, we were focusing primarily on our ability to apply texturing in Maya. We were instructed to create a street scene, using either our own models or imported ones, unwrap the UV's and apply different texturing technique across them, before adding efficient lighting, and rendering with mental ray. <br/>
            In my scene, I opted to model all the buildings myself, and construct the street that way. I also unwrapped all the UV's and using footage both taken and sourced, I applied the texturing through Photoshop.​ Using these textures I was able to create normal maps, that I applied through Maya's texture editor to create a realistic brick wall look.
            ​Once the scene was complete, it was lit with several different lights, and rendered to HD quality with mental ray.
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/LevelDesign/FuturisticCity/1.jpg">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/LevelDesign/FuturisticCity/1.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/FuturisticCity/2.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/FuturisticCity/3.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/FuturisticCity/4.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/FuturisticCity/5.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/FuturisticCity/6.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
