<div id="work-item-wrapper">
    <div class="work-title">
        <span>GRYFFINDOR COMMON ROOM</span>
    </div>
    <div class="work-subtitle">
        <span>created in maya, textured in substance painter, rendered using arnold for maya.</span>
    </div>
    <div class="work-date">
        <span>12/11/2017</span>
    </div>
    <div class="work-description">
        <span>
            For this assignment, we were asked to recreate a scene from a movie. I chose Harry Potter, and specifically the Gryffindor common room, the layout of this scene is based on early Harry Potter films and I included the staircase area in order to allow an entrance to the common through the portrait.
            I created and textured a lot of assets myself, and also created blueprints, allowing the player to interact with objects like potions and wands when walking though the scene.
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/1.png">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/1.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/2.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/3.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/4.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/5.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/6.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/7.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/8.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/9.png">
                </div>
            </div>
        </div>
    </div>
</div>
<iframe class="work-right-content" src="https://www.youtube.com/embed/mUnu42DpoRk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>