<div id="work-item-wrapper">
    <div class="work-title">
        <span>PARADISE RUINS</span>
    </div>
    <div class="work-subtitle">
        <span>created in Unreal Engine 4</span>
    </div>
    <div class="work-date">
        <span>20/03/2015</span>
    </div>
    <div class="work-description">
        <span>
            Armed with a free asset package from the Unity Store, I set out to create something that was aesthetically stunning. I had an idea in my head of an abanded castle ruins, set in a stunning natural paradise, untouched for hundreds of years, allowing nature to take over and create a beautiful scene.
            <br/>
            Started as a side project I really got hooked to this and was soon putting a lot of my time into making this something I could be pleased with.
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/LevelDesign/Paradise/1.jpg">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/LevelDesign/Paradise/1.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/Paradise/2.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/Paradise/3.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/Paradise/4.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/Paradise/7.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/Paradise/8.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/Paradise/9.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/Paradise/10.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/LevelDesign/Paradise/11.jpg">
                </div>
            </div>
        </div>
    </div>
</div>


