<div id="about-wrapper" class="flex-center-start">
    <div class="about-left">
        <div class="about-image">
            <img src="~/Content/Images/Logos/tall_banner.jpg" />
        </div>
    </div>
    <div class="about-right">
        <div class="about-title">
            <span>About Me</span>
        </div>

        <div class="about-description">
            <span class="about-heading">Personal Profile</span>
            <span class="about-text">
                Growing up as a creative student, the video game industry has always fascinated me, and my love for playing video games took me on a journey to understand how to create, and be a part of them. I have been studying and honing my skills within the games industry for 4 years now, and I am excited to progress my learning further and dive into the industry.
            </span>

            <div class="about-divide"></div>
            
            <span class="about-heading">Work Experience</span>
            <span class="about-text">
                June 2015 - August 2015 / August 2016 - September 2017
            </span>
            <span class="about-text">
                First Central Group (17 Park Street, St Peter Port, Guernsey)
            </span>
            <span class="about-text">
                Junior Developer
            </span>
            <div class="about-spacer"></div>
            <span class="about-text">
                June 2017 - September 2017
            </span>
            <span class="about-text">
                Guernsey Youth Commission
            </span>
            <span class="about-text">
                Junior Developer
            </span>

            <div class="about-divide"></div>

            <span class="about-heading">Technical Skills</span>
            <span class="about-text">Strong ability in a number of programming languages, HTML, CSS, JS, C#.</span>
            <span class="about-text">Understanding of C, C++, Java.</span>
            <span class="about-text">Comprehensive understanding of Unity and Unreal Game Engines as well as visual design tools (Maya, 3DS Max, zBrush, Substance Painter).</span>
            <span class="about-text">Powerful knowledge of Adobe design softwares (Photoshop, Illustrator).</span>
            <span class="about-text">Knowledged in MVC and ASP.net applications.</span>
            <span class="about-text">Experience with SQL Server and MySql databases.</span>
            <span class="about-text">In depth understanding of game design practices and techniques.</span>
            <div class="about-spacer"></div>
            <span class="about-heading">Personal Skills</span>
            <span class="about-text">Hugely motivated and passionate about my work.</span>
            <span class="about-text">Creative thinker, always coming up with innovative artistic ideas and designs.</span>
            <span class="about-text">Organised and detail oriented.</span>
            <span class="about-text">Excellent team worker with experience working in agile environments.</span>
            <span class="about-text">Desire to learn and experience new things.</span>

            <div class="about-divide"></div>

            <div class="flex-center-center">
                <span id="CV-download" class="about-link flex-center-center">
                    @Html.ActionLink("Download a full copy of my CV", "GetCV", new { })
                </span>
            </div>
        </div>

    </div>
</div>