<div id="work-item-wrapper">
    <div class="work-title">
        <span>ASTEROIDS</span>
    </div>
    <div class="work-subtitle">
        <span>created using C++ and SDL</span>
    </div>
    <div class="work-date">
        <span>20/09/2014</span>
    </div>
    <div class="work-description">
        <span>
            A remake of the classic arcade game from the 1970's; Asteroids. Made in visual studio using C++ and the SDL Library, I recreated the game as part of a first year computer graphics programming assignment.
            <br/>
            The assignment was between a choice of 3 classic arcade games, and choosing the harder of the three, I was able to produce an accurate recreation the game, and the mechanics of 'asteroids'.
            <br />
            The game includes the basic movement of the ship, including the simulated effects of space and gravity, it also includes differently sized asteroids, as well as a scoring and lives system in order to remain true to the classic.
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/GameDesign/Asteroids/1.jpg">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/GameDesign/Asteroids/1.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/Asteroids/2.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/Asteroids/3.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/Asteroids/4.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/Asteroids/5.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<iframe class="work-right-content" width="560" height="315" src="https://www.youtube.com/embed/Z7vDuNMmxFA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>