<div id="work-item-wrapper">
    <div class="work-title">
        <span>Harry Potter VR</span>
    </div>
    <div class="work-subtitle">
        <span>assets modelled in Maya, game created in Unreal Engine 4 - Plugins: Sphinx, RunebergVR</span>
    </div>
    <div class="work-date">
        <span>12/12/2017</span>
    </div>
    <div class="work-description">
        <span>
            The brief for this assignment was to create a game that utilises more than one method of input to create a multi-modal play experience.<br />
            In the case of this game, we combined Virtual Reality Gesture Recognition with Voice Recognition to create a spell casting simulation based on the Harry Potter Franchise. <br />
            The relation to Harry Potter is in the names of the spells used, and the motion in which the player must wave the wand. To correctly cast a spell, the player must combine the right gesture with the right spoken spell. <br />
            Combining the two incorrectly will cause the wand to spit out red sparks, and the spell is not cast.<br /><br />
            In the version of the game there are only 4 spells that can be cast: <br />
            - Lumos (Loo-Moss): A light appears at the end of the wand, motion is upwards gesture. <br />
            - Nox (Knocks): The light is put out, only works after casting Lumos, motion is a downwards gesture. <br />
            - Expelliarmus (Expell-e-are-moos): A spark is shot out of the wand, motion is a back and forth waving of the wand ended by pointing in the direction you wish to cast. <br />
            - Wingardium Leviosa (Win-gaurd-e-um Levvy-o-sah): Levitates an object being pointed at, motion is simply targeting the object.
            <br /><br />
            The game was created in Unreal Engine using the plugins <a class="midblue hover-darkblue" target="_blank" href="https://www.unrealengine.com/marketplace/vr-pawn-components-plugin">RunebergVR</a> for the gesture recognition and <a class="midblue hover-darkblue" target="_blank" href="https://wiki.unrealengine.com/Speech_Recognition_Plugin">SphinxUE4</a> for the voice recognition.<br />
            The game was programmed primarily using the Unreal Engine Blueprint system.
            <br /><br />
            <span class="darkblue">Final Grade: 82%</span>
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/GameDesign/HarryPotter/7.png">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/GameDesign/HarryPotter/7.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/HarryPotter/2.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/HarryPotter/3.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/HarryPotter/4.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/HarryPotter/5.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/HarryPotter/6.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/HarryPotter/1.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/HarryPotter/8.png">
                </div>
            </div>
        </div>
    </div>
</div>
<iframe class="work-right-content" src="https://www.youtube.com/embed/1k4nL4BTW58" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>