<div id="work-item-wrapper">
    <div class="work-title">
        <span>PIXEL TANKS</span>
    </div>
    <div class="work-subtitle">
        <span>created using C++ and Allegro</span>
    </div>
    <div class="work-date">
        <span>20/09/2015</span>
    </div>
    <div class="work-description">
        <span>
            Pixel Tanks, is a 2D game idea I came up with and created for a first year university assignment. The concept comes roughly from a Nintendo Wii game known as a 'Tanks'. The player controls the movement of the tank, as well as the tanks cannon separately.
            <br/>
            In Pixel Tanks, you have to survive waves of attacks from enemy tanks, the difficulty ramps up over time, and the objective is to survive as long as possible. The player moves the tank with the keyboard, and controls the cannon with the mouse.
            <br />
            The game features 3 different tanks to choose from at the start, and the background for the game is randomised each time.
            As well as this, the game features 3 different power ups that spawn randomly, offering health, a speed boost and a missile. Boss waves come every 10 kills, and the difficulty increase throughout the game ensures you are constantly on the move avoiding incoming bullets.
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/GameDesign/PixelTanks/1.jpg">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/GameDesign/PixelTanks/1.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/PixelTanks/2.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/PixelTanks/3.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/PixelTanks/4.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/PixelTanks/5.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/PixelTanks/6.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/PixelTanks/7.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/PixelTanks/8.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<iframe class="work-right-content" src="https://www.youtube.com/embed/CeGkQbQZZiw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
