<div id="work-item-wrapper">
    <div class="work-title">
        <span>SIDE SCROLLING SPACE SHOOTER</span>
    </div>
    <div class="work-subtitle">
        <span>created in Unity Engine using C#, assets made in Illustrator and Photoshop, designed for Mobile</span>
    </div>
    <div class="work-date">
        <span>10/11/2015</span>
    </div>
    <div class="work-description">
        <span>
            Side Scrolling Space Shooter is a game made for my first mobile games programming assignment of this year, and follows the design brief, where we were instructed to create a side scrolling space shooting game for mobile phones.
            It had to be touch controlled, and fulfil a few basic criteria, (drag to move the player up and down, tap to fire a bomb, 3 bombs, 3 lives, refill power-up, and 3 unique enemies).
            <br/>
            Once completed those we were able to add additional game features, for example I've gone on to include a pause screen in game, added my own assets (we were provided basic sprites), added in game music and sound effects, as well as the ability to turn them both on and off, and also particle effects.
            This was a lot of fun to create, and really extended my ability of unity, I was able to complete this assignment well in advance thanks to my prior unity knowledge, and added additional features to boost my mark.
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/GameDesign/SpaceScroller/1.jpg">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/GameDesign/SpaceScroller/1.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/SpaceScroller/2.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/SpaceScroller/3.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/SpaceScroller/4.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/SpaceScroller/5.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/SpaceScroller/6.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/SpaceScroller/7.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameDesign/SpaceScroller/8.png">
                </div>
            </div>
        </div>
    </div>
</div>


