<div class="secondary-homescreen">
    <div class="flex-center-center">
        <img class="secondary-social" src="https://image.flaticon.com/icons/svg/51/51767.svg" width="25px" onclick="window.open('https://codepen.io/jakegilesphillips/')">
        <span class="tooltip">codepen</span>
    </div>
    <div class="flex-center-center">
        <img class="secondary-social" src="https://image.flaticon.com/icons/svg/25/25660.svg" width="25px" onclick="window.open('https://twitter.com/JakeGp_')">
        <span class="tooltip">twitter</span>
    </div>
    <div class="flex-center-center">
        <img class="secondary-social" src="https://image.flaticon.com/icons/svg/25/25178.svg" width="25px" onclick="window.open('https://www.youtube.com/channel/UCTiBzZNPGdkW8_Kdn9JrTAA')">
        <span class="tooltip">youtube</span>
    </div>
    <div class="flex-center-center">
        <img class="secondary-social" src="https://image.flaticon.com/icons/svg/25/25325.svg" width="25px" onclick="window.open('https://www.linkedin.com/in/jake-giles-phillips-683045aa/')">
        <span class="tooltip">linkedin</span>
    </div>
    <div class="flex-center-center">
        <img class="secondary-social" src="https://image.flaticon.com/icons/svg/25/25231.svg" width="25px" onclick="window.open('https://github.com/JakeGP')">
        <span class="tooltip">github</span>
    </div>
    <div class="flex-center-center">
        <img class="secondary-social" src="https://image.flaticon.com/icons/svg/25/25686.svg" width="25px" onclick="window.open('https://plus.google.com/+GilesPhillips')">
        <span class="tooltip">google+</span>
    </div>
</div>
<div class="secondary-item">
    <div class="flex-center-center" data-action="home">
        <i class="home material-icons">close</i>
        <span class="tooltip">close</span>
    </div>
    <div class="flex-center-center" data-action="random">
        <i class="material-icons">refresh</i>
        <span class="tooltip">random</span>
    </div>
    <div class="flex-center-center" data-action="download">
        <i class="download material-icons">file_download</i>
        <span class="tooltip">download</span>
    </div>
    <div class="flex-center-center" data-action="share">
        <i class="material-icons">share</i>
        <span class="tooltip">share</span>
    </div>
</div>