<div id="blog-header-left" class="flex-start">
    <div id="main-header-logo" class="sorting-item sorting-all flex-start" data-category="all" onclick="window.location.href = 'Home'">
        <img src="http://www.jakegilesphillips.co.uk/Content/Images/Logos/websitelogo.png" width="300px" />
    </div>
</div>
<div id="main-header-right" class="flex-end">
    <div id="main-header-links" class="flex-center">
        <span class="main-header-quicklinks hover-darkblue"><a href="/Home">home</a></span>
        <span class="main-header-quicklinks hover-darkblue"><a href="/About">about</a></span>
        <span class="main-header-quicklinks hover-darkblue"><a href="/Blog">blog</a></span>
        <div id="main-header-menu" class="menu-toggle flex-center">
            <span id="bars" class="hover-midblue"></span>
        </div>
    </div>
</div>