<div id="work-item-wrapper">
    <div class="work-title">
        <span>FOKUS Events</span>
    </div>
    <div class="work-subtitle">
        <span>collection of logo graphics and designs for Fokus Events</span>
    </div>
    <div class="work-date">
    </div>
    <div class="work-description">
        <span>
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/GraphicDesign/Fokus/1.jpg">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/GraphicDesign/Fokus/1.jpg">
                </div>
                <div data-gallery="thumb" class="">
                    <img src="~/Content/Images/Work/GraphicDesign/Fokus/2.jpg">
                </div>
                <div data-gallery="thumb" class="">
                    <img src="~/Content/Images/Work/GraphicDesign/Fokus/3.jpg">
                </div>
                <div data-gallery="thumb" class="">
                    <img src="~/Content/Images/Work/GraphicDesign/Fokus/4.jpg">
                </div>
                <div data-gallery="thumb" class="">
                    <img src="~/Content/Images/Work/GraphicDesign/Fokus/5.jpg">
                </div>
                <div data-gallery="thumb" class="">
                    <img src="~/Content/Images/Work/GraphicDesign/Fokus/6.jpg">
                </div>
                <div data-gallery="thumb" class="">
                    <img src="~/Content/Images/Work/GraphicDesign/Fokus/7.jpg">
                </div>
                <div data-gallery="thumb" class="">
                    <img src="~/Content/Images/Work/GraphicDesign/Fokus/8.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
