<div id="menu-columns1" class="flex-center-start">
    <img class="mobile-logo" src="http://www.jakegilesphillips.co.uk/Content/Images/Logos/websitelogo.png" width="90%" />
    <div class="menu-column flex-column">
        <div class="small-title" onclick="window.location.href = '/Home'">
            <span class="hover-darkblue">HOME</span>
            <i class="material-icons">home</i>
        </div>
        <div class="small-title" onclick="window.location.href = '/About'">
            <span class="hover-darkblue">ABOUT</span>
            <i class="material-icons">person</i>
        </div>
        <div class="small-title" onclick="window.location.href = '/Blog'">
            <span class="hover-darkblue">BLOG</span>
            <i class="material-icons">create</i>
        </div>
        <div class="small-title" onclick="window.location.href = '/Sitemap'">
            <span class="hover-darkblue">SITEMAP</span>
            <i class="material-icons">map</i>
        </div>
    </div>
</div>
<div id="menu-footer" class="flex-column-center-center">
    <div class="footer-social-wrapper flex-center">
        <span class="column-footer-heading">FOLLOW ME</span>
        <i class="material-icons">play_arrow</i>
        <img class="footer-social" src="https://image.flaticon.com/icons/svg/51/51767.svg" width="20px" onclick="window.open('https://codepen.io/jakegilesphillips/')">
        <img class="footer-social" src="https://image.flaticon.com/icons/svg/25/25660.svg" width="20px" onclick="window.open('https://twitter.com/JakeGp_')">
        <img class="footer-social" src="https://image.flaticon.com/icons/svg/25/25178.svg" width="20px" onclick="window.open('https://www.youtube.com/channel/UCTiBzZNPGdkW8_Kdn9JrTAA')">
        <img class="footer-social" src="https://image.flaticon.com/icons/svg/25/25325.svg" width="20px" onclick="window.open('https://www.linkedin.com/in/jake-giles-phillips-683045aa/')">
        <img class="footer-social" src="https://image.flaticon.com/icons/svg/25/25231.svg" width="20px" onclick="window.open('https://github.com/JakeGP')">
        <img class="footer-social" src="https://image.flaticon.com/icons/svg/25/25686.svg" width="20px" onclick="window.open('https://plus.google.com/+GilesPhillips')">
    </div>
</div>
