<div id="work-item-wrapper">
    <div class="work-title">
        <span>Tree</span>
    </div>
    <div class="work-subtitle">
        <span>modelled in Maya, textured in Photoshop</span>
    </div>
    <div class="work-date">
        <span>22/2/2016</span>
    </div>
    <div class="work-description">
        <span>
            I wanted to start creating my own game assets in my spare time, for use in future projects. To start this, I wanted to experiment with creating foliage, and specifically bushes and trees, where I could practice creating alphas and normal maps to give a high detailed 'bushy' effect on what is a particularly low poly model.
            <br/>
            <br />
            UPDATED 8/4/16 <br />
            For a recent assignment I used the same tree in a scene <span class="midblue hover-darkblue tile-link" data-title="Horse" data-category="Modelling">I was rendering</span> in order to get the quality of my scene up I remade the textures and normal maps.
            I used the NVidia Photoshop plug in, and several layers of normal mapping, blended together to get a better result.
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/GameAsset/Tree/1.jpg">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/GameAsset/Tree/1.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameAsset/Tree/2.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameAsset/Tree/3.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameAsset/Tree/4.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameAsset/Tree/6.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameAsset/Tree/7.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameAsset/Tree/8.jpg">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GameAsset/Tree/9.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<canvas id="model-renderer" class="work-right-content"></canvas>


