<div class="item-card favourite large sorting-model">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="Xenomorph">XENOMORPH</span>
        <span class="category" data-category="Modelling">3D MODEL</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/Modelling/Xenomorph/Wide Angle Render - Textured.jpg" />
</div>