<div class="item-card card sorting-model new favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="Xenomorph">XENOMORPH</span>
        <span class="category" data-category="Modelling">3D MODEL</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/Modelling/Xenomorph/TileBackground.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/ZBrush-Black.png"/>
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
        <img src="~/Content/Images/Icons/Substance-Black.png" />
    </div>
</div>

<div class="item-card card sorting-game new favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="HarryPotterVR">WIZARDRY VR</span>
        <span class="category" data-category="GameDesign">GAME DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/GameDesign/HarryPotter/tile.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/UE4-Black.png" />
        <img src="~/Content/Images/Icons/Cplusplus-Black.png" />
        <img src="~/Content/Images/Icons/Vive-Black.png" />
    </div>
</div>

<div class="item-card card sorting-game new favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="BlockRunner">BLOCKRUNNER</span>
        <span class="category" data-category="GameDesign">GAME DESIGN</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GameDesign/BlockRunner/8.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Unity-Black.png" />
        <img src="~/Content/Images/Icons/Csharp-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-level favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="GryffindorCommonRoom">HOGWARTS</span>
        <span class="category" data-category="LevelDesign">LEVEL DESIGN</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/LevelDesign/GryffindorCommonRoom/8.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/UE4-Black.png" />
        <img src="~/Content/Images/Icons/Maya-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-model hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="Tank">TANK</span>
        <span class="category" data-category="Modelling">3D MODEL</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/Modelling/Tank/5.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Maya-Black.png" />
    </div>
</div>

<div class="item-card card sorting-model hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="Reaper">REAPER</span>
        <span class="category" data-category="Modelling">3D MODEL</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/Modelling/Reaper/4.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/ZBrush-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-model favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="Horse">HORSE</span>
        <span class="category" data-category="Modelling">3D MODEL</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/Modelling/Horse/1.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Maya-Black.png" />
        <img src="~/Content/Images/Icons/UE4-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-model hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="DwarvenSoldier">DWARF SOLDIER</span>
        <span class="category" data-category="Modelling">3D MODEL</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/Modelling/DwarvenSoldier/1.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/ZBrush-Black.png" />
    </div>
</div>

<div class="item-card card sorting-model hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="DesertEagle">DESERT EAGLE</span>
        <span class="category" data-category="Modelling">3D MODEL</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/Modelling/DesertEagle/3.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Maya-Black.png" />
    </div>
</div>

<div class="item-card card sorting-level favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="NewBerlin">NEW BERLIN</span>
        <span class="category" data-category="LevelDesign">LEVEL DESIGN</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/LevelDesign/NewBerlin/2.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/UE4-Black.png" />
        <img src="~/Content/Images/Icons/Maya-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-level favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="Paradise">PARADISE RUINS</span>
        <span class="category" data-category="LevelDesign">LEVEL DESIGN</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/LevelDesign/Paradise/4.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/UE4-Black.png" />
    </div>
</div>

<div class="item-card card sorting-level favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="FuturisticCity">FUTURISTIC CITY</span>
        <span class="category" data-category="LevelDesign">LEVEL DESIGN</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/LevelDesign/FuturisticCity/6.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Maya-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
        <img src="~/Content/Images/Icons/UE4-Black.png" />
    </div>
</div>

<div class="item-card card sorting-game hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="Asteroids">ASTEROIDS</span>
        <span class="category" data-category="GameDesign">GAME DESIGN</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GameDesign/Asteroids/4.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Cplusplus-Black.png" />
    </div>
</div>

<div class="item-card card sorting-game favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="PixelTanks">PIXEL TANKS</span>
        <span class="category" data-category="GameDesign">GAME DESIGN</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GameDesign/PixelTanks/4.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Cplusplus-Black.png" />
    </div>
</div>

<div class="item-card card sorting-game hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="SpaceScroller">SPACE SCROLLER</span>
        <span class="category" data-category="GameDesign">GAME DESIGN</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GameDesign/SpaceScroller/5.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Unity-Black.png" />
        <img src="~/Content/Images/Icons/Cplusplus-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-game favourite">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="WSYG">WSYG</span>
        <span class="category" data-category="GameDesign">GAME DESIGN</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GameDesign/WSYG/1.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Unity-Black.png" />
        <img src="~/Content/Images/Icons/Csharp-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-model hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="Container">CONTAINER</span>
        <span class="category" data-category="GameAsset">GAME ASSET</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GameAsset/Container/1.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Maya-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-model hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="Tree">TREE</span>
        <span class="category" data-category="GameAsset">GAME ASSET</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GameAsset/Tree/1.jpg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Maya-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-model hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="LowPolyTree">LOW POLY TREE</span>
        <span class="category" data-category="GameAsset">GAME ASSET</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GameAsset/LowPolyTree/Render.jpeg" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Maya-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-game hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="FecalObject">2016</span>
        <span class="category" data-category="GamesJam">GAMES JAM</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GamesJam/2016/1.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Unity-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-game hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="FlowRider">2017</span>
        <span class="category" data-category="GamesJam">GAMES JAM</span>
    </div>
    <img class="card-background wide" src="~/Content/Images/Work/GamesJam/2017/1.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Unity-Black.png" />
        <img src="~/Content/Images/Icons/Photoshop-Black.png" />
    </div>
</div>

<div class="item-card card sorting-web hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="BusinessCard">BUSINESS CARD</span>
        <span class="category" data-category="WebDesign">WEB DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/WebDesign/BusinessCard/1.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Html-Black.png" />
        <img src="~/Content/Images/Icons/CSS-Black.png" />
    </div>
</div>

<div class="item-card card sorting-web hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="MailButton">MAIL BUTTON</span>
        <span class="category" data-category="WebDesign">WEB DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/WebDesign/MailButton/1.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Html-Black.png" />
        <img src="~/Content/Images/Icons/CSS-Black.png" />
        <img src="~/Content/Images/Icons/JS-Black.png" />
    </div>
</div>

<div class="item-card card sorting-web hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="GreekWindow">GREEK WINDOW</span>
        <span class="category" data-category="WebDesign">WEB DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/WebDesign/GreekWindow/Tile.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Html-Black.png" />
        <img src="~/Content/Images/Icons/CSS-Black.png" />
    </div>
</div>

<div class="item-card card sorting-web hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="NewYorkCityWindow">NEW YORK WINDOW</span>
        <span class="category" data-category="WebDesign">WEB DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/WebDesign/NewYorkCityWindow/Tile.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Html-Black.png" />
        <img src="~/Content/Images/Icons/CSS-Black.png" />
    </div>
</div>

<div class="item-card card sorting-web hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="LondonCityWindow">LONDON WINDOW</span>
        <span class="category" data-category="WebDesign">WEB DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/WebDesign/LondonCityWindow/Tile.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Html-Black.png" />
        <img src="~/Content/Images/Icons/CSS-Black.png" />
    </div>
</div>

<div class="item-card card sorting-web hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="MaterialDesign">MATERIAL DESIGN</span>
        <span class="category" data-category="WebDesign">WEB DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/WebDesign/MaterialDesign/Tile.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Html-Black.png" />
        <img src="~/Content/Images/Icons/CSS-Black.png" />
    </div>
</div>

<div class="item-card card sorting-web hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="PokemonGoEgg">POKEMON GO</span>
        <span class="category" data-category="WebDesign">WEB DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/WebDesign/PokemonGoEgg/Tile.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Html-Black.png" />
        <img src="~/Content/Images/Icons/CSS-Black.png" />
        <img src="~/Content/Images/Icons/JS-Black.png" />
    </div>
</div>

<div class="item-card card sorting-web hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="CustomisableWeather">CUSTOM WEATHER</span>
        <span class="category" data-category="WebDesign">WEB DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/WebDesign/CustomisableWeather/Tile.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Html-Black.png" />
        <img src="~/Content/Images/Icons/CSS-Black.png" />
        <img src="~/Content/Images/Icons/JS-Black.png" />
    </div>
</div>

<div class="item-card card sorting-web hide">
    <div class="card-title flex-column-center-center">
        <span class="title" data-title="OverwatchLoading">OVERWATCH LOADING</span>
        <span class="category" data-category="WebDesign">WEB DESIGN</span>
    </div>
    <img class="card-background" src="~/Content/Images/Work/WebDesign/OverwatchLoading/Tile.png" />
    <div class="card-software flex-center-between">
        <img src="~/Content/Images/Icons/Html-Black.png" />
        <img src="~/Content/Images/Icons/CSS-Black.png" />
        <img src="~/Content/Images/Icons/JS-Black.png" />
    </div>
</div>