
<div id="work-item-wrapper">
    <div class="work-title">
        <span>NEW YORK CITY WINDOW</span>
    </div>
    <div class="work-subtitle">
        <span>New York City Window Art Created in HTML and CSS</span>
    </div>
    <div class="work-date">
        <span>Windows of the World Collection</span>
    </div>
    <div class="work-description">
        <span>
        </span>
    </div>

    <iframe height='265' scrolling='no' title='CSS Animated Business Card' src='//codepen.io/jakegilesphillips/embed/vJXQeG/?height=565&theme-id=dark&default-tab=,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='height: 700px;'></iframe>
</div>
