<div id="work-item-wrapper">
    <div class="work-title">
        <span>UNIDENTIFIED FECAL OBJECT</span>
    </div>
    <div class="work-subtitle">
        <span>games jam theme 2016: UFO</span>
    </div>
    <div class="work-subtitle">
        <span>created in Unity Engine using C#, assets made in Illustrator and Photoshop</span>
    </div>
    <div class="work-date">
        <span>14/01/2016</span>
    </div>
    <div class="work-description">
        <span>
            Unidentified Fecal Object is the brainchild of our Game Jam 2015 team. <br/>
            We were instructed to take the theme of the games jam in anyway we wished, and naturally we decided to create a game where you play as a seagull, flying along a promenade and defecating on anything you possibly can. <br/>
            This was a lot of fun to take part in, and even more fun to create, we are all very happy with the outcome and  are continuing the development of the game together post game jam.
            The game was created in Unity, and myself and fellow team-mate Andre handled the programming side, where Andre worked on the menu and animation, and I worked a lot on the game design and overall coding. Team-mates Matt and Joe then handled art and sound.
            I found this a lot of fun to work on, and for 48 hours, I think we did a great job, although we did not win the game jam, it was a win for us, because creating anything that works well in 48 hours is something to be proud of!<br /><br />
            Partners: <a class="midblue hover-darkblue" target="_blank" href="https://www.andreagius.com/">Andre Agius</a>, <a class="midblue hover-darkblue" target="_blank" href="https://www.joesalter.co.uk/">Joseph Salter</a>, <a class="midblue hover-darkblue" target="_blank" href="https://www.matthewpymm.com/">Matthew Pymm</a>.
        </span>
    </div>

    <div class="container">
        <div id="js-gallery" class="gallery flex-start">
            <div class="gallery__hero">
                <i class="gallery__hero-enlarge material-icons">zoom_in</i>
                <img src="~/Content/Images/Work/GamesJam/2016/1.png">
            </div>
            <div class="gallery__thumbs flex-column-start">
                <div data-gallery="thumb" class="is-active">
                    <img src="~/Content/Images/Work/GamesJam/2016/1.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GamesJam/2016/2.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GamesJam/2016/3.png">
                </div>
                <div data-gallery="thumb">
                    <img src="~/Content/Images/Work/GamesJam/2016/4.png">
                </div>
            </div>
        </div>
    </div>
</div>


